*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;

}

header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: liberator;
    color: #fff;
    letter-spacing: 5px;

}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-family: code;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(flam2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;

}

.banner h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: liberator;
    letter-spacing: 5px
    text-transform: uppercase;
    color: #e5ffd9;
    -webkit-text-stroke: 2px black;
}

.content{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1500px;
}

.content h2{
    font-family: code;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content p{
    padding: 2% 0;
    font-family: alef;
    line-height: 30px;
}

.graph
{
    top: 15%;
    left: 3%;
    margin: auto;
    position: absolute;
    box-shadow: 5px 5px #363636;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: black;
    color: white
}
