*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.wrapper{
    max-width: 1170px;
    width: auto;
    margin: 0 auto;

}

header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: liberator;
    color: #fff;
    letter-spacing: 5px;

}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-family: code;
	font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}

.banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(flam2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;

}

.banner h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: liberator;
    letter-spacing: 5px
    text-transform: uppercase;
    color: #e5ffd9;
    -webkit-text-stroke: 2px black;
}

.content{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 500px;
}

.content h2{
    font-family: code;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content p{
    padding: 2% 0;
    font-family: arial;
    line-height: 30px;
}

.graphwindow
{
    display: inline-block;
    top: 28%;
    left: 3%;
    margin: auto;
    width: 50%;
    position: absolute;
}

.frame
{
    height: 380px;
    position: absolute;
    width: 42%;
    top: 220px;
    right: 0;
    padding: 5px;
	overflow: auto;
}

.frame h2
{
	font-family: code;
	font-weight: bold;
	font-size: 30px;
	color: #d4fffa;
	-webkit-text-stroke: 0.5px black;
}
	

.birdimg
{
    max-width: 600px;
    max-height: 600px;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.DateInput
{
    width: 170px;
	border: 3px solid black;
}

.DateInput_input
{
	background-color: #b5fff6;
	font-family: code;
	font-weight: bold;
}
.DateRangePickerInput {
    background-color: #000;
    display: inline-block;
	border: 1px solid black;
	box-shadow: 3px 3px #363636;
}

.DateRangePickerInput_arrow 
{
    color: #fff;
}
.DateRangePickerInput_arrow_svg 
{
    fill: #fff;
 }
.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: black;
    color: white
}
